<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/styles.css" />
    {{! fontawesome }}
    <script
      src="https://kit.fontawesome.com/cbd908c919.js"
      crossorigin="anonymous"
    ></script>

    <title>redsocial</title>
  </head>
  <body>

    <nav class="navnar navbar-dark bg-dark">

      <div class="container">
        <a href="#" class="navbar-brand">

          <img src="/public/img/imgshare-logo.png" alt="imgshare" />

        </a>
      </div>

    </nav>

    <div class="container p-4">

      <div class="row">
        <div class="col-md-8">
          {{{body}}}

        </div>
        <div class="col-md-4">

        </div>

      </div>

    </div>

  </body>
</html>